# Virtual Environments
venv/
env/
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest / Testing
.pytest_cache/
.coverage
htmlcov/

# Databases
*.db
*.sqlite3

# MLflow
mlruns/
.mlflow/
*.log

# IDEs
.vscode/
.idea/
*.swp
